<th:block th:fragment="headFragment">
<link rel="stylesheet" href="/css/header.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<header>
    <div>
        <ul id = "headerLayout">
            <li><a href = "/">로아요 LoaYo</a></li>
            <li><a href = "/stone">세공</a></li>
            <li><a href = "/accessory">각인</a></li>
            <li><a href = "/inchant">재련</a></li>
            <li><a href = "/auction">경매 입찰 계산기</a></li>
        </ul>
    </div>
</header>
</th:block> 
