.craftItems{
    margin-top: 10px;
    display: inline-block;
}
.craftItems-img{
    display: flex;
    text-align: center;
}
td{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}