#pagination a {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.pagination{
    display: flex;
    text-decoration: none;
    list-style: none;
}
#itemBox {
    display: flex;
    align-items: center;
}

.left-side {
    width: 120px;
}

.right-side {
    width: 120px;
}

.button {
    margin-top: 20px;
}

img {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

span {
    font-size: 15px;
    font-weight: 500;
    color: chocolate;
}