#itemBox {
    display: flex;
    align-items: center;
}
#article-list {
    margin-top: 10px;
}
.imageBlock{
    display: flex;
    align-items: center;
}
.side{
    width: 20%;
}
.flex{
    width: 60%;
}
.column {
    display: inline-flex;
    text-align: right;
    padding-left: 5px;
    margin-bottom: 5px;
}
.th-start{
    text-align: left !important;
    width: 55%;
}
.th-right {
    width: 10%;
}
.button{
    margin-top: 20px;
}
.main{
    width: 100%;
    display: flex;
}
.table{
    width: 100%;
}

img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    
    border-style: solid;
    border-width: 1px;
    border-color: black
}
span{
    font-size: 15px;
    font-weight: 500;
    color: chocolate;
}
tr{
    width: 100%;
    
}
th{
    font-size: 10px;
}
td{
    align-items: center;
    font-size: 10px;
    height: 30px;
}