<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>각인 맞추기</title>
</head>
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<link rel="stylesheet" href="css/accessory.css">
<body>
    <div class = "settings">
        <div class = "leftBox">
            <p>~왼쪽~</p>
            <div class = "selectAbility">
                <!-- DB에서 데이터 끌고오기 -->
                <input class = "abilityBox box" type="text" placeholder="각인 1"/>
                <!-- <select class = "abilityBox box">
                    <option th:each = "abil : ${abil}"><span th:text = ${abil.name}></span></option>
                </select> -->
                <select class = "abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div class="selectAbility">
                <input class="abilityBox box" type="text" placeholder="각인 2" />
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div class="selectAbility">
                <input class="abilityBox box" type="text" placeholder="각인 3" />
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div> 
            <div class="selectAbility">
                <input class="abilityBox box" type="text" placeholder="각인 4" />
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div class="selectAbility">
                <input class="abilityBox box" type="text" placeholder="각인 5" />
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div class="selectAbility">
                <input class="abilityBox box" type="text" placeholder="각인 6" />
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
        </div>
        <div class = "middleBox"> ~중간~ </div>
        <div class = "rightBox"> ~오른쪽~ </div>
    </div>
    <div class = "result">

    </div>
</body>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>