<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>각인 맞추기</title>
</head>
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<link rel="stylesheet" href="css/accessory.css">
<body>
    <div class = "settings">
        <div class = "leftBox">
            <p>~왼쪽~</p>
            <div id ="selectAbility1" class = "selectAbility">
                <input id="access_1" list="list1" class = "abilityBox box" type="text" placeholder="각인 1"/>
                <datalist id="list1" class = "abilityBox box">
                    <option th:each ="abil : ${abil}" th:value="${abil.name}"></option>
                </datalist>
                <select class = "abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div id ="selectAbility2" class="selectAbility">
                <label>
                    <input id="access_2" list="list" class="abilityBox box" type="text" placeholder="각인 2" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div id ="selectAbility3" class="selectAbility">
                <label>
                    <input id="access_3" list="list" class="abilityBox box" type="text" placeholder="각인 3" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div> 
            <div id ="selectAbility4" class="selectAbility">
                <label>
                    <input id="access_4" list="list" class="abilityBox box" type="text" placeholder="각인 4" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div id ="selectAbility5" class="selectAbility">
                <label>
                    <input id="access_5" list="list" class="abilityBox box" type="text" placeholder="각인 5" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
            <div id ="selectAbility6" class="selectAbility">
                <label>
                    <input id="access_6" list="list" class="abilityBox box" type="text" placeholder="각인 6" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <select class="abilitylevel box">
                    <option>
                        <p>미사용</p>
                    </option>
                    <option>
                        <p>+5 (1레벨)</p>
                    </option>
                    <option>
                        <p>+10 (2레벨)</p>
                    </option>
                    <option>
                        <p>+15 (3레벨)</p>
                    </option>
                </select>
            </div>
        </div>
        <div class = "middleBox"> 
            <p>~중간~</p>
            <div id="selectAbility7" class="selectAbility">
                <label>
                    <input id="access_7" list="list" class="abilityBox box" type="text" placeholder="어빌리티 스톤 각인 1" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <input type="number" class="abilityBox box"/>
            </div>
            <div id="selectAbility8" class="selectAbility">
                <label>
                    <input id="access_8" list="list" class="abilityBox box" type="text" placeholder="어빌리티 스톤 각인 2" />
                    <datalist id="list" class="abilityBox box">
                        <option th:each="abil : ${abil}" th:value="${abil.name}"></option>
                    </datalist>
                </label>
                <label>
                    <input type="number" class="abilityBox box"/>
                </label>
            </div>
            <div id="selectAbility9" class="selectAbility">
                <input id="access_9" class="abilityBox box" type="text" placeholder="어빌리티 스톤 각인 3" />
                <label>
                    <input type="number" class="abilityBox box" />
                </label>
            </div>
        </div>
        <div class = "rightBox"> ~오른쪽~ </div>
    </div>
    <div class = "detail-option">
        <table>
            <thead>
                <tr>
                    <th>
                        부위
                    </th>
                    <th>
                        품질
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        목걸이
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        귀걸이1
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        귀걸이2
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        반지1
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        반지2
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "result">

    </div>
</body>
<script type="text/javascript" th:src="@{/js/accessoryInput.js}"></script>

<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>