<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<script type="text/javascript" src="/js/auction.js"></script>
<body id="body">
    <h2>경매 입찰가 계산</h2>
        <div>
            <label>거래가격
                <input type="number" id="auctionPrice" value="" placeholder="가격">
                <input type="radio" class="distribution" name="calc" value="4" checked/>4인
                <input type="radio" class="distribution" name="calc" value="8"/>8인
            </label>
        </div>
        <div>
            <input type="button" value="계산" onclick="calculation()"></input>
        </div>
    <div>
        <p>직접 사용 입찰 가격 : 
            <span class="calcPrice">

            </span>
        </p>
        <p>분배금 : 
            <span class="distributionPrice">

            </span>
        </p>
        <p>수수료 :
            <span class="charge">
        
            </span>
        </p>
        <hr>
        <p>손익분기점 :
            <span class="profit">
        
            </span>
        </p>
        <p>분배금 :
            <span class="equalDistributionPrice">
        
            </span>
        </p>
        <p>수수료 :
            <span class="equalCharge">
        
            </span>
        </p>
        <hr>
        <p>입찰 이득 :
            <span class="realProfit" style="color: #4caf50;">
        
            </span>
        </p>
        <p>분배금 :
            <span class="realDistributionPrice">
        
            </span>
        </p>
        <p>수수료 :
            <span class="realCharge">
        
            </span>
        </p>
    </div>
</body>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>