<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<body>
    <h2>경매 입찰가 계산</h2>
    <div>
        <label for="거래가격">거래가격
            <input type="number">
            <input type="radio" name="calc" checked/>4인
            <input type="radio" name="calc"/>8인
        </label>
    </div>
    <div>
        <button onclick="location.href='/calculate'">계산</button>
    </div>
    <div>
        <p>입찰 가격</p>
    </div>
</body>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>