<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<link rel="stylesheet" href="css/mainTest.css">
<body>
    <div class="button">
        <button onclick="location.href='/stone'">돌 깎으러가기</button> <button onclick="location.href ='/'">새로고침</button>
    </div>
    <div class = "table" style="border-style: solid; border-width: 1px; border-color: black;">
        <div class="left-side flex"></div>
        <div class="flex table-responsive">
            <th:block th:if="${data != null}">
                <h2>DB 데이터 목록</h2>
                    <table class="table table-bordered table-hover">
                    <tr id = "body" th:each="item:${data}" >
                        <td id = "itemBox">
                            <img th:onclick = "move([[${item.code}]], [[${item.CategoriesCode}]])" th:src="${item.icon}"/>&nbsp;<span th:text="${item.name}"></span> : <span th:text="${item.CurrentMinPrice}"></span>
                        </td>
                    <tr>
                </table>
                <ul class="pagination">

                </ul>
            </th:block>
        </div>
        <div class = "right-side flex"></div>
    </div>
</body>
<script type="text/javascript" src="/js/itemPage.js"></script>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>