<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>
<link rel="stylesheet" href="css/main.css">
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>

<body>
    <div class="button">
        <button onclick="location.href='/stone'">돌 깎으러가기</button> <button onclick="location.href ='/'">새로고침</button>
    </div>
    <div class = "table">
        <div class="left-side flex"></div>
        <div class="flex">
            <th:block th:if="${data != null}">
                <h2>DB 데이터 목록</h2>
                <table>
                    <tr id = "body" th:each="item:${data}" >
                        <td id = "itemBox">
                            <img th:onclick = "move([[${item.code}]], [[${item.CategoriesCode}]])" th:src="${item.icon}"/>&nbsp;<span th:text="${item.name}"></span> : <span th:text="${item.CurrentMinPrice}"></span>
                        </td>
                    <tr>
                </table>
            </th:block>
        </div>
        <div class = "right-side flex"></div>
    </div>
</body>
<script>
    function move(img, category){
        var url = "/detail/" + img;

        if(category == 60000){
            window.location.href = url;
        }
    } 
</script>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>