<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>돌 깎는 노인</title>
</head>
<body>
    <div class="ability1Set">
    </div>
    <div class="ability2Set">
    </div>
    <div class="ability3Set">
    </div>
</body>
<script type="text/javascript" src="/js/selfCraft.js">

</script>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
</html>