<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>돌 깎는 노인</title>
</head>
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<link rel="stylesheet" href="css/stone.css">
<body>
    <div class="table">
        <div class="craftBox">
            <div class="craft successPercent">
                <p>세공확률 : <span class="percentage"></span></p>
            </div>
            <div class="craft ability1Set">
            </div>
            <div class="craft ability2Set">
            </div>
            <div class="craft ability3Set">
            </div>
            <div class="craft reset">
            </div>
            <div>
                <button style="margin-top: 6px;" onclick="location.href='/'">메인으로 돌아가기</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/selfCraft.js">

</script>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
</html>