<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block th:replace=" ~{layout/header :: headFragment}"></th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>돌 깎는 노인</title>
    <style>
        button{ margin-right: 3px;
                margin-left: 3px;}
        div{ display: flex;
             align-items: center;
             margin-bottom: 8px;}
    </style>
</head>
<body>
    <div class="successPercent">
        <p>세공확률 : <span class="percentage"></span></p>
    </div>
    <div class="ability1Set">
    </div>
    <div class="ability2Set">
    </div>
    <div class="ability3Set">
    </div>
    <div class="reset">
    </div>
    <div>
        <button style="margin-top: 6px;" onclick="location.href='/'">메인으로 돌아가기</button>
    </div>
</body>
<script type="text/javascript" src="/js/selfCraft.js">

</script>
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
</html>